@import "/styles/mixins/cores.scss";
.container{
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 20px;
    width: 100%;
    height: 20%;
    background-color: $cinza-claro;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
}

.menu{
    font-size: 20px;
    font-weight: lighter;
    color: black;
    a + a {
        margin-left:20%;
    }
}

.button{
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 16px;
    color: white;    
    font-weight: bold;
    background-color: $azul;
    margin-left: 30%;

}

.action{
    text-align: end;
}